<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CDNBaseUrl</key>
	<string>https://cdn.sandbox.pace.cloud</string>
	<key>ApiGateway</key>
	<string>https://api.sandbox.pace.cloud</string>
	<key>AuthorizationEndpoint</key>
	<string>https://id.sandbox.pace.cloud/auth/realms/pace/protocol/openid-connect/auth</string>
	<key>TokenEndpoint</key>
	<string>https://id.sandbox.pace.cloud/auth/realms/pace/protocol/openid-connect/token</string>
	<key>UserEndpoint</key>
	<string>https://id.sandbox.pace.cloud/auth/realms/pace/protocol/openid-connect/userinfo</string>
	<key>EndSessionEndpoint</key>
	<string>https://id.sandbox.pace.cloud/auth/realms/pace/protocol/openid-connect/logout</string>
</dict>
</plist>
